* {
	margin:0;
	padding:0;
}

.footer {
	background-color: #1A3850;
}

.navbar {
	background-color: #1A3850;
}

.jumbo_paragraph {
	font-weight: 600;
}

h1 {
	font-family: 'Russo One', sans-serif;
	font-size: 50px;
}

.heading {
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
}

.lead {
	font-weight: 400;
	font-size: 20px;
}

#disableCourse {
	height: 63vh;
}


/*-------------- Index Page --------------*/

#content-index {
	background-image: url('../images/landing_page_background_image.jpg');
	background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.jumbotron {
	background-color: rgb(160, 163, 173, 0.6);
}

/*-------------------- End ------------------*/








/*-------------- Register Page --------------*/
#content-register {
	background-image: url('../images/register-bg.jpg');
	background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

#h1-register {
	background: rgb(160, 163, 173, 0.6);
	font-weight: bold;
}
/*-------------------- End ------------------*/




/*-------------- Login Page --------------*/
#content-login {
	background-image: url('../images/login-bg.jpg');
	background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

/*-------------------- End ------------------*/





/*-------------- DeleteCourse Page --------------*/
#deleteCourse-body {
	overflow: hidden;
}
/*-------------------- End ------------------*/






/*-------------- logout Page --------------*/
#content-logout {
	height:70vh;

}
/*-------------------- End ------------------*/



